# Kopieren nach .env und bei Bedarf anpassen
PORT=3000
ICS_FEED_URL=http://mmc.api.koronaevent.de/api/feeds/62Rw4Z0JIao6bz9sae5ErIONwx0_MQ9EFuKcTxLVBEQ.ics
REFRESH_INTERVAL_MS=60000
TIMEZONE=Europe/Berlin
